html{
	background: linear-gradient(to right, #12FFF7, #B3FFAB);
}

#topbar{
	background-color: #FAFAFA;	
	border-bottom: 0.5px solid #ccc;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
#topbar a{
		display: inline-block;
		width: 20%;
		margin-left: -4px;
		text-align: center;
		padding: 0px;
		box-sizing: border-box;
}

#topbar a:hover{
	background-color: #ccc;
}
#topbar img{
			width: 50px;
			height: 50px;
}

#body{
	position: absolute;
	padding: 50px;
	height: 100%;
	width: 92.5%;
	margin-right: 0px;
}

#searchbar{
	margin:0px auto;
	left: 0;
	padding: 10px;
	background-color: #FAFAFA;
	width: 70%;
}

input{
	margin:0px  auto;
	width: 50%;
	font-family: montserrat;
	border-style: none;
	background-color: #FAFAFA;
	outline: none;
}

#result{
	text-align: left;
	width: 50%;
	margin: auto;
	height: 100%;
	background-color: transparent;
	padding: 10px;
}

#rslt{
	background-color: #FAFAFA;
	border:1px solid #ccc;
	border-radius: 2px;
	margin:auto;
	padding-bottom: 1px;
	width: 100%;
}

#dp{
	display: inline-block;
	padding: 5px;
	width:20px;
	height: 20px;
	
}

#uname{
	position: relative;
	display: inline-block;
	vertical-align: middle;	
}

#follow{
	display: inline-block;
	vertical-align: middle;
}

#fllw{
	border:1px solid #ccd;
	background-color: #ccd;
	border-radius: 2px;
	font-family: montserrat;
	outline: none;
	float: right;
}

#fllw button:hover{
	background-color: #ccc;
}

#result img{
	display: inline-block;
	border: 1px solid #3287a8;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	vertical-align: middle;	
}
