<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notifications</title>
    <link rel="stylesheet" href="../public/stylesheets/notifstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div id="topbar">
        <a href="home.html" id="homebut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\home.png"></a>
        <a href="search.html" id="searchbut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\search.png"></a>
        <a href="upload.html" id="uploadbut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\plus.png"></a>
        <a href="recents.html" id="recentbut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\heart.png"></a>
        <a href="profile.html" id="profbut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\user.png"></a>
    </div>
    <div id="head"><h1>Recents</h1></div>
    <div class="flex-container">
        <div id="div1">
            <h3>Follows</h3>
            <p>A followed you.</p>
            <p>B followed you.</p>
        </div>
        <div id="div1">
            <h3>Likes</h3>
            <p>A liked B's post</p>
        </div>
        <div id="div2">
            <h3>Comments</h3>
            <p>B commmented on your post - Pog</p>
        </div>
    </div>
</body>

</html>