<!DOCTYPE html>
<html>
<head>
	<title>VITgram | Search</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\stylesheets\search.css">
</head>
<body>
	<div id="topbar">
		<a href="home.html" id="homebut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\home.png"></a>
		<a href="search.html" id="searchbut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\search.png"></a>
		<a href="upload.html" id="uploadbut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\plus.png"></a>
		<a href="recents.html" id="recentbut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\heart.png"></a>
		<a href="profile.html" id="profbut"><img class ="icon" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\user.png"></a>
	</div>

	<div id="body">
		<div id="searchbar">
			<input type="text" id="searchitem" placeholder="Search a Username/Name">
		</div>
		<div id="result">
			<ul id="searchresult" type="none">
				<div id="rslt">
					<li>
						<div id="dp"><img class="profpic" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\ranbir.jpg"></div>
						<div id="uname">nitinsharma</div>
						<div id="follow"><button id="fllw">Follow</button>
					</li>
				</div>
				<br>
				<div id="rslt">
					<li>
						<div id="dp"><img class="profpic" src="C:\Users\Nitin Sharma\Desktop\Webtech_Project-master\public\images\ranbir.jpg"></div>
						<div id="uname">abhimanyu</div>
					</li>
				</div>
		</div>
	</div>
</body>
</html>